/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container-fluid{
    width: 100%;
    max-width: 100%;
}

/*flex*/
.d-flex{
    display: flex;
}

/* justify-content */
.jus-space-arnd{
    justify-content: space-around;
}

.jus-baseline{
    justify-content: baseline;
}

.jus-space-btw{
    justify-content: space-between;
}

.jus-center{
    justify-content: center;
}

.jus-start{
    justify-content: flex-start;
}

.jus-end{
    justify-content: flex-end;
}

/*align-items*/
.align-it-center{
    align-items: center;
}

.align-it-start{
    align-items:flex-start;
}

.align-it-end{
    align-items: flex-end;
}

.align-it-baseline{
    align-items: baseline
}

/*align-content*/
.align-con-center{
    align-content: center;
}

.align-con-end{
    align-content:flex-end;
}

.align-con-start{
    align-content: flex-start;
}

.align-con-arnd{
    align-content:space-around;
}

.align-con-btw{
    align-content: space-between;
}

/* row */
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* column */
[class^="col"]{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.row > .col{
    max-width: 100%;
    flex-grow: 1;
}

/* 12bool */
.col-12{
    flex-basis: 100%;
    max-width: 100%;
}

.col-11{
    flex-basis: calc(100% / 12 * 11);
    max-width: 100%;
}

.col-10{
    flex-basis: calc(100% / 12 * 10);
    max-width: 100%;
}

.col-9{
    flex-basis: calc(100% / 12 * 9);
    max-width: 100%;
}

.col-8{
    flex-basis: calc(100% / 12 * 8);
    max-width: 100%;
}

.col-7{
    flex-basis: calc(100% / 12 * 7);
    max-width: 100%;
}

.col-6{
    flex-basis: calc(100% / 12 * 6);
    max-width: 100%;
}

.col-5{
    flex-basis: calc(100% / 12 * 5);
    max-width: 100%;
}

.col-4{
    flex-basis: calc(100% / 12 * 4);
    max-width: 100%;
}

.col-3{
    flex-basis: calc(100% / 12 * 3);
    max-width: 100%;
}

.col-2{
    flex-basis: calc(100% / 12 * 2);
    max-width: 100%;
}

.col-1{
    flex-basis: calc(100% / 12);
    max-width: 100%;
}

/* offset */
.offset-12{
    margin-left: 100%;
}

.offset-11{
    margin-left: calc(100% / 12 * 11);
}

.offset-10{
    margin-left: calc(100% / 12 * 10);
}

.offset-9{
    margin-left: calc(100% / 12 * 9);
}

.offset-8{
    margin-left: calc(100% / 12 * 8);
}

.offset-7{
    margin-left: calc(100% / 12 * 7);
}

.offset-6{
    margin-left: calc(100% / 12 * 6);
}

.offset-5{
    margin-left: calc(100% / 12 * 5);
}

.offset-4{
    margin-left: calc(100% / 12 * 4);
}

.offset-3{
    margin-left: calc(100% / 12 * 3);
}

.offset-2{
    margin-left: calc(100% / 12 * 2);
}

.offset-1{
    margin-left: calc(100% / 12 );
}

.offset-0{
    margin-left: 0;
}