/*generics*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

/*utilities*/
:root{
    --red: red;
}

.margin-bt{
    margin-bottom: 20px;
}

/*main*/
[class^="col"]{
    background-color: blue;
    height: 50px;
}