/*generics*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    border: 2px solid white;
}

/*utilities*/
:root{
    --red: red;
}

.margin-bt{
    margin-bottom: 20px;
}

h2{
    color: black;
}

.big:first-child{
    height: 100px;
}

/*main*/
[class^="col"]{
    background-color: blue;
    height: 50px;
}
.nested{
    background-color: green;
    height: 30px;
}